*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #15212b;
}
.container
{
    position: relative;
    padding: 100px 150px;
}
.container h2
{
    font-size: 4em;
    font-weight: bold;
    color: #767f88;
    margin-bottom: 40px;
    line-height: 1.1em;
}
.container p
{
    font-size: 1.1em;
    color: #767f88;
    margin-bottom: 25px;
}

.scrollTop
{
    position: fixed;
    bottom: 800px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: #fff url('up.png');
    border-radius: 50%;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 200;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scrollTop.active
{
    visibility: visible;
    opacity: 1;
    bottom: 40px;


}